.body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #111111;
    font-size: 14px;
    position: absolute;
    width: 2000px;
    height: 1000px;
    margin-top: 500px;
}

:global(.debugMode) img {
    border: 1px dashed #f0f !important;
}