.tree {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    font-family: helvetica, sans-serif;
    background-image: url(/images/tree2.png);
    background-size: 275px;
    background-repeat: no-repeat;
    background-position: center 75%;
    margin: auto;
}

.treeNodes {
    position: absolute;
    top:0;
    bottom: 100px;
    width: 100%;
}

.leafImg {
    width: 250px;
    margin-left: -125px;
    position: absolute; 
}