.rootNode {
    left: 50%;
    bottom: -100px;
    width: 360px;;
}

.rootNode .member {
    float: left;
}

.rootNode .spouse {
    float: right;
}

.treeNode {
    position: absolute;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    white-space: nowrap;
    height: 50px;
}

.depth2 .member,
.depth2 .spouse{
    display: inline-block;
}

.treeNode { 
    /* border: 1px dashed #888; */
    padding-top: 10px;
}

.treeNode:first-child {
    border-top: 35px solid transparent;
    border-image: url(../images/branch1.png);
    border-image-slice: 91;
    border-image-repeat: stretch;
}

.left > div{
    transform: rotate(180deg);
}