.treeNodeContainer {
    position: absolute;
    width: 0;
    height: 0;
}

.treeNode {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    text-align: center;
    white-space: nowrap;
    height: 50px;
    margin-top: -60px; /* 25 height + 35 border */
}

.treeNode{
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.treeNodeContainer:first-child .treeNode:not(.noBorderTop),
.treeNodeContainer:first-child:last-child .treeNode:not(.noBorderTop){
    border-image-slice: 124 0 0 0;
    border-image-repeat: round none none none;
}

.treeNodeContainer:last-child .treeNode:not(.noBorderBottom),
.treeNodeContainer:first-child:last-child .treeNode:not(.noBorderBottom){
    border-image-slice: 0 0 124 0;
    border-image-repeat: none none round none;
}

.treeNodeContainer:first-child:last-child .treeNode:not(.noBorderTop):not(.noBorderBottom){
    border-image-slice: 124 0 124 0;
    border-image-repeat: round none round none;
}

.variety1 {
    border-image: url(../images/leaves1.png);
}

.variety2 {
    border-image: url(../images/leaves2.png);
}

.variety3 {
    border-image: url(../images/leaves3.png);
}

:global(.debugMode) .treeNode { 
    border: 1px dashed #ff00ff !important;
    border-image: none !important;
    margin-top: -25px;
}

.name {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 1.2em;
}

.date {
    font-family: 'Shadows Into Light', cursive;
}

.member,
.spouse{
    display: inline-block;
}

.left {
    transform: rotate(180deg);
}

.rootNode {
    left: 50%;
    bottom: -40px;
    border: none !important;
    width: 250px;
    margin-left: -125px;
    font-size: 1.7em;
}

.rootNode .member {
    float: left;
}

.rootNode .spouse {
    float: right;
}

.leafImg {
    width: 250px;
    margin-left: -125px;
    position: absolute; 
    margin-top: -15px;
}